.ScrumDashboardLayout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
    grid-auto-rows: 500px;
    gap: 50px 1em;
}

.ScrumDashboardGroepjes {
    border-radius: 20px;
}