.ScrumDashboardLayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-auto-rows: 300px;
  gap: 50px 50px;
}

.ScrumDashboardGroepjes {
  border-radius: 20px;
}

.ScrumDashboardPopup {
  position: fixed;
  display: inline-block;
  cursor: pointer;
}
.popup {
  cursor: pointer;
}

.popup .popuptext {
  position: absolute;
  display: block;
  margin: auto;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  z-index: -1;
  justify-content: center;
  align-items: center;
}

.popup .show {
  visibility: visible;
}

.containerScrumDashboard {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
}

.loginform {
  background: #555;
  padding: 5px;
}
.popup .popuptext {
  position: absolute;
  display: block;
  margin: auto;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  z-index: -1;
}

.popup .show {
  visibility: visible;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  color: white;
  border-radius: 5px;
  background-color: blue;
}

.container {
  margin-top: 20px;
  padding: 20px;
  width: 30em;
  background-color: lightgrey;
}

#message {
  margin-top: 10px;
  width: 30em;
  display: block;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

.SearchWrapper {
  max-width: 450px;
  margin: 150px auto;
}
.SearchWrapper .search-input {
  width: 100%;
  border-radius: 5px;
  position: relative;
  background-color: #e9e8e8;
}
.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  background: rgb(219, 219, 219);
}
.search-input.active input {
  border-radius: 5px 5px 0 0;
}
.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}
.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  background: #efefef;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  position: relative;
}
.carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.carousel-item .carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 1;
  text-align: center;
}
.carousel-item textarea {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  font-size: 16px;
  padding: 10px;
}
.carousel-item p {
  font-size: 24px;
  margin-top: 30px;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* Page content */
.content {
  margin-left: 200px; /* set left margin to width of sidebar */
  padding: 20px; /* add padding to content */
  height: 100%; /* full-height content */
  display: flex; /* use flexbox to show content to the right of the sidebar */
  flex-direction: column; /* arrange content in columns */
  justify-content: center; /* center content vertically */
  background-color: #f2f2f2; /* background color of content */
}