.ScrumDashboardLayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-auto-rows: 300px;
  gap: 50px 50px;
}

.ScrumDashboardGroepjes {
  border-radius: 20px;
}

.ScrumDashboardPopup {
  position: fixed;
  display: inline-block;
  cursor: pointer;
}
.popup {
  cursor: pointer;
}


.loginform{
  background: #555;
  padding: 5px;
}
.popup .popuptext {
  position: absolute;
  display: block;
  margin: auto;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  z-index: -1;
}

.popup .show {
  visibility: visible;
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  color: white;
  border-radius: 5px;
  background-color: blue;
}

.container {
  margin-top: 20px;
  padding: 20px;
  width: 30em;
  background-color: lightgrey;
}

#message {
  margin-top: 10px;
  width: 30em;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
